.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.formContainer h1 {
  text-align: center;
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm h2 {
  margin-bottom: 15px;
}

.formWrapper {
  padding: 15px;
  width: 100%;
}

.success {
  color: green;
}

.error {
  color: red;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  gap: 15px;
}

.inputGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
}

.submitButton button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submitButton button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: var(--primary-color);
}

.pcontainer {
  padding: 10px;
}

.pcontainer button {
  background-color: none;
  border: none;
}

.pcontainer button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav {
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

.buttonNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.buttonNav button {
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--secondary-color);
}

.buttonNav button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.05);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accountButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.accountButtons button {
  padding: 5px;
  background-color: red;
  border: none;
  border-radius: 10px;
  color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
}

.accountButtons button:hover {
  background-color: darkred;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--tertiary-color);
  cursor: pointer;
  transform: scale(1.05);
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--tertiary-color);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  text-align: center;
}

.messageForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messageForm button {
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
}

.messageForm textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  min-height: 100px;
}

.messageForm button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.05);
}

.searchContainer input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.searchContainer button {
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
}

.searchContainer button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.05);
}

.friendContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.requestStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.rejectButton {
  padding: 5px;
  background-color: red;
  border: none;
  border-radius: 10px;
  color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
}

.rejectButton:hover {
  background-color: darkred;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--tertiary-color);
  cursor: pointer;
  transform: scale(1.05);
}

.acceptButton {
  padding: 5px;
  background-color: green;
  border: none;
  border-radius: 10px;
  color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
}

.acceptButton:hover {
  background-color: darkgreen;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--tertiary-color);
  cursor: pointer;
  transform: scale(1.05);
}

.unfriendButton {
  padding: 5px;
  background-color: red;
  border: none;
  border-radius: 10px;
  color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
}

.unfriendButton:hover {
  background-color: darkred;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--tertiary-color);
  cursor: pointer;
  transform: scale(1.05);
}
